html {
  /*  transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);*/
    width: 200%;
    height: 200%;
    margin: -50% -50%;
}
body {
	background-image: url(/img/BQ_cover.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 200px;
}
.commandline {
	background-color: black;
	margin-top: 55%;
	padding: 2%;
	height: 300px;
	width: 350px;
	border: 5px double gray;
	overflow-y: scroll;
	overflow-x: hidden;
}
.question {
	color: white;
	/*height: 120px;*/
}
.lastanswer {
	color: yellow;
}
.description {
	color: white;
	width: 350px;
}
.white {
	color: white;
}
a {
	color: orange;
}
a:hover {
	text-decoration: none;
	color: yellow;
}
.mobile {
	margin-left: 20%;
	margin-top: 60%;

}
.supersmall {
	margin-left: 10%;
	margin-top: 68%;
}
.reallysupersmall {
	margin-left: 7%;
	margin-top: 70%;
}